* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
    
  }
  
  .home,
  .pl-container,
  .pd-container,
  .mpl-container {
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
  }
  
  .pl-container {
    background-image: url('/src/galaxy1.jpg');
    background-position: center;
    background-size: cover;
    display: flex;
    background-repeat: no-repeat;
    
    height: 50%;
    color: #fff;
    font-size: 30px;
  }
  
  .pd-container {
    background-image: url('/src/galaxy1.jpg');
    background-position: center;
    background-size: cover;
    display: flex;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
  }
  .mpl-container {
    background-image: url('/src/galaxy1.jpg');
    background-position: center;
    background-size: cover;
    display: flex;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
  }
  
  